.formulario-checkout {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;
}

.formulario-checkout h2 {
    margin-bottom: 20px;
    text-align: center;
}

.formulario-checkout label {
    display: block;
    margin-bottom: 10px;
}

.formulario-checkout input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.formulario-checkout button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
