body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#brand {
    margin-left: -5em;
    margin-right: 2em;
    color: purple;
}

.navBarLink {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.estaciones {
    padding-right: 20px;
    padding-top: 0px;
    display: flex;
    align-items: center;
}

#carrito {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 3px;
    left: 760px;
}

#carrito p {
    margin: 0;
    padding-left: 10px;
}

.bienvenidaBody {
    justify-content: center;
}
